:root{
   --sidenav-background-color:  #000000; /*var(--sidenav-background-color);*/
}
.sidenav{     /*height: 100vh;*/
   height: 100%;
  width: 0px;
  z-index: 1;
  top: 0;
  position: absolute;
  left: 0;
  background-color:var(--sidenav-background-color);
  overflow-x: hidden;
  transition: var(--animation-delay);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--animation-delay);
  z-index: 100000;
}
.sidenav a {
  font-family: "proxima-nova",sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: solid #4a4a4a54 2px;
      border-bottom: solid #141415 2px;
     /* transition: 0.6s;*/
}
.sidenavlinkscontainer{
  text-align: center;
  display: grid;
  width: inherit;
  margin-right: 33px;
  margin-left: 33px;
}
.sidenavlinks:hover{ 
  background-color: #557ad1;  
  border-bottom: solid var(--sidenav-background-color) 2px;
}
.sidenav .nav_socialinks a {
    color: #f6f7fb;
    display: -webkit-inline-box;
    /*background-color:var(--sidenav-background-color);*/
    background-color: #0e111d00;
    margin-left: 6px;
    margin-right: 6px;
    padding: 11px;
    border-radius: 10px;
    font-size: 20px;
    font-size: 2.5vh;
    border-bottom: 0px;
}
.sidenav-scroller-container{  /* position: absolute; */
    /* top: 74px; */
    /* height: 151px; */
    height: 85%;
    width: -webkit-fill-available;
   /* background-color: #ff000030;*/
    /* overflow: -webkit-paged-y; */
    z-index: 500000000;
    overflow: scroll;
    /*    width: 80%;*/
        overflow-x: hidden;
    overflow-y: auto;
  }


/*portrait*/
@media screen and (max-width:655px) { 
  .sidenav .nav_socialinks a {font-size: 3.0vh;} 
  .sidenav a {font-size: 3vh;  } 
  .sidenav-scroller-container { height: 80%;  }
}
/*landscape*/
@media screen and (max-width:655px) and (orientation: landscape)  { 
  .sidenav .nav_socialinks a {font-size: 5.0vh;} 
  .sidenav a {font-size: 3vh;  }

  .sidenav-scroller-container { height: 65%;  }
 }